.content{
    width: min(100%, 480px);
    margin: 2em auto;
    background-color: var(--light-bg);
    padding: 1em 2em 2em;
    border-radius: 2em;
}
.title{
    text-align: center;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: .5em;
}
.title h2{
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.title p{
    font-size: small;
    color: var(--text-color-light);
}
.body{
    margin-top: 2em;
    text-align: center;
}

.btn{
    margin: 2em auto 0;
    padding: .85em 1.5em;
    background-color: var(--primary-color);
    border: 0;
    border-radius: .5em;
}